* {
    margin: 0px;
    padding: 0px;
}

#screen {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgb(199, 211, 216), rgb(153, 222, 248), rgb(120, 188, 243), rgb(150, 187, 244));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    /* background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmNezkRXjwBUYbVaiMgDozccdVDGtT--CdGg&s");
    background-size: cover; */

}

#centerbox {
    margin-top: 4%;
    height: 98%;
    width: 40%;
    /* background:linear-gradient(135deg, rgba(0, 0, 0, 0.783),rgba(77, 75, 75, 0.842), rgba(186, 186, 186, 0.705)) ; */
    border-radius: 20px;
    position: relative;
    border: 5px solid black;
}


body input {

    height: 8vh;
    width: 30vw;
    border-radius: 10px;
    z-index: 1;
    position: absolute;
    align-self: center;
    left: 32%;
}

body button {
    height: 8vh;
    width: 5vw;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    left: 62%;

}

#day-date {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: normal;
}

#city-name {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#weather-img-container {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
    margin-left: 30%;
}

.weather-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    /* margin-left: 30%; */
}

#weather-disc {
    text-align: center;
    font-size: 20px;
}

#temp {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#wind-img,
#hum-img {
    height: 70px;
}

#more-detail {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

#wind {
    display: flex;
    align-items: center;
    justify-content: center;
}

#humadity {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cloud1 {
    height: 300px;
    width: 250px;
    position: absolute;
    left: 0px;
    background-size: cover;
    background-repeat: no-repeat;

}

#cloud2 {
    height: 300px;
    width: 250px;
    position: absolute;
    left: 600px;
    top: 100px;
    background-size: cover;
    background-repeat: no-repeat;

}

#cloud3 {
    height: 300px;
    width: 250px;
    position: absolute;
    left: 900px;
    top: -50px;
    background-size: cover;
    background-repeat: no-repeat;

}

#cloud4 {
    height: 180px;
    width: 150px;
    position: absolute;
    left: 270px;
    top: -30px;

    background-size: cover;
    background-repeat: no-repeat;

    z-index: 0;
}

@keyframes movecloud {
    0% {
        transform: translateX(100px) scale(1);
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        transform: translateX(0px) scale(0.8);

    }
}

#cloud1,
#cloud2,
#cloud3,
#cloud4 {
    animation: movecloud ease-in-out 20s infinite alternate;
}

#more-detail {
    display: flex;
    justify-content: space-around;
}