* {
    padding: 0px;
    margin: 0px;
    font-family: cursive;
    overflow-x: hidden;
}

body {
    min-height:100vh;
    max-height: fit-content;
    width: 100%;
    background: linear-gradient(to bottom, rgb(216, 224, 222), rgb(174, 191, 188), rgb(153, 175, 171),  rgb(130, 157, 152) , rgb(111, 129, 126) 50%, rgb(14, 14, 14));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#taskarea {
  min-height: 70%;
  max-height:fit-content;
    width: 40%;
    border: 5px solid;
    border-image: linear-gradient(to top, rgb(216, 224, 222), rgb(174, 191, 188), rgb(153, 175, 171), rgb(142, 166, 162), rgb(130, 157, 152), rgb(78, 92, 90), rgb(14, 14, 14)) 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   
}

#heading {
    font-size: 50px;
    font-family: cursive;

}

#addtask,
#searcharea, #counts {
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: space-around;
}

input {
    width: 70%;
    border-radius: 30px;
    padding: 2%;
}

button {
    width: 20%;
    border-radius: 30px;
    padding: 1%;
    font-size: 10px;
}

#list{
    height:70%;
    width:100%;
    display:flex;
    flex-direction:column;
    color:white;
    margin-top: 20px;
    gap: 12px;
}


body {
    font-family: 'Segoe UI', sans-serif;
   
    margin: 0;
    padding: 20px;
}

.edit-btn {
    background-color: rgb(144, 195, 186);
   color: #0a2f2b; 
}

.delete-btn {
    background-color: 	rgb(1, 121, 111);
    color: #ffffff;
}

.edit-btn:hover {
    background-color: rgb(200, 255, 244);
    
}

.delete-btn:hover {
    background-color: 	rgb(10, 221, 203);
}

@media (max-width: 600px) {
  #taskarea {
    width: 90%;
  }
}





